<% content_for :title, "Editing forma pagamento" %>

<h1>Editing forma pagamento</h1>

<%= render "form", forma_pagamento: @forma_pagamento %>

<br>

<div>
  <%= link_to "Show this forma pagamento", @forma_pagamento %> |
  <%= link_to "Back to forma pagamentos", forma_pagamentos_path %>
</div>
