<div class="card border-0 shadow-sm rounded-3" style="max-height: 500px;">
  <div class="card-body overflow-auto">
    <h6 class="mb-3 text-danger text-center">
      <strong>Despesas - Contas</strong>
    </h6>
    <hr class="text-danger">
    <div class="icon-circle text-center">
      <i class="fa-solid fa-file-invoice-dollar fa-xl"></i>
    </div>
    <p class="text-center">
      Você tem <%= @contas_pendentes %> contas pendentes de pagamento.
    </p>
  </div>
</div>
