<div class="d-flex justify-content-between align-items-center card-item">
  <div>
    <h5><%= titulo %></h5>
    <p>Total: <%= total_itens %></p>
  </div>
  <div>
    <%= link_to link_text, link_url, class: 'btn btn-sm btn-primary' %>
  </div>
</div>