<% content_for :title, "Editing unidade familiar" %>

<h1>Editing unidade familiar</h1>

<%= render "form", unidade_familiar: @unidade_familiar %>

<br>

<div>
  <%= link_to "Show this unidade familiar", @unidade_familiar %> |
  <%= link_to "Back to unidade familiares", unidade_familiares_path %>
</div>
