<% content_for :title, "New unidade familiar" %>

<h1>New unidade familiar</h1>

<%= render "form", unidade_familiar: @unidade_familiar %>

<br>

<div>
  <%= link_to "Back to unidade familiares", unidade_familiares_path %>
</div>
