<p style="color: green"><%= notice %></p>

<div class="card">
  <div class="card-body">
    <!-- <strong>
      Total de receitas cadastradas: <%#= @receitas.size %>
    </strong> -->
    <div class="card-item col-md-3" style="background-color: #ebeff5;">
      <i class="fa-solid fa-money-bill-wave fa-fw me-2"></i> Receita
    </div>
  </div>
</div>

<div id="receitas">
  <% @receitas.each do |receita| %>
    <%= render receita %>
    <p>
      <%= link_to "Show this receita", receita %>
    </p>
  <% end %>
</div>

<%= link_to "New receita", new_receita_path %>
