<nav>
  <ul>
    <li>Unidade Familiar: Teste</li><hr>
    <li><%= link_to 'Área administrativa', root_path %></li><hr>
    <li><%= link_to 'Início', root_path %></li>
    <li><%= link_to 'Orçamentos', orcamentos_path %></li>
    <li><%= link_to 'Usuários', usuarios_path %></li>
  </ul>
</nav>