<div id="<%= dom_id historico_pagamento %>">
  <p>
    <strong>Despesa:</strong>
    <%= historico_pagamento.despesa_id %>
  </p>

  <p>
    <strong>Data pagamento:</strong>
    <%= historico_pagamento.data_pagamento %>
  </p>

</div>
