<% content_for :title, "Editing historico pagamento" %>

<h1>Editing historico pagamento</h1>

<%= render "form", historico_pagamento: @historico_pagamento %>

<br>

<div>
  <%= link_to "Show this historico pagamento", @historico_pagamento %> |
  <%= link_to "Back to historico pagamentos", historico_pagamentos_path %>
</div>
