<% content_for :title, "New historico pagamento" %>

<h1>New historico pagamento</h1>

<%= render "form", historico_pagamento: @historico_pagamento %>

<br>

<div>
  <%= link_to "Back to historico pagamentos", historico_pagamentos_path %>
</div>
